/* set padding for iOS7 status bar */
.ua-ios-7 .ui-page, .ua-ios-8 .ui-page
{
    padding-top: 63px !important;
}

.ua-ios-7 .ui-header, .ua-ios-8 .ui-header
{
    top: 20px;
}

* {
	text-shadow:none;
}

.page--singin__background, .page--home__background {
    background: #84B818;
    border: 0;
}

.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet {
	color:#FFF;
}

.center {
	text-align:center;	
	margin:auto;
	padding:0;
}

ons-toolbar + .page__background + .page__content {
	margin-top: 0px;
	top: 0px;
}

.my-button {
	font-size:4.3vw;
	color:#1E4B20;
	background-color:RGBA(0,0,0,0);
    border-radius: 0;
}
